<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <input type="text" v-model='firstname'>
        <input type="text" v-model='lastname'>
        <h2>fullName: {{fullName}}</h2>
    </div>

    <script src="vue.js"></script>
    <script>
        let vml = new Vue({
            el:'#app',
            data:{
                msg:'test',
                firstname:'',
                lastname:'',
                // fullName:'',
            },
            methods:{
                full(){
                    return this.firstname+this.lastname;
                }
            },
            computed:{
                fullName(){
                    return this.firstname+this.lastname;
                }
            }
        })
    </script>
</body>
</html>